<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>
    <%- include('./layout/styles')%>
</head>

<body>
    <%- include('./layout/header')%>
        <div class="content">
            <%- include("./pages/"+route)%>
        </div>
        <%- include('./layout/footer')%>
</body>

</html>